In [2]:
import pandas as pd
import numpy as np

1. corona.csv 파일 로드
2. 쓸모없는 컬럼 삭제
3. 컬럼 이름 변경
4. 특정한 컬럼의 값을 기준으로 정렬 변경
5. 인덱스를 초기화

In [4]:
corona = pd.read_csv("../csv/corona.csv")

corona.head(3)  

# unnamed 컬럼은 필요없음

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN

In [31]:
# Unnamed: 0 컬럼 삭제

# drop 만 쓰면 뭘 지울지 정해줘야함. 그리고 행을 지울지 열을 지울지 axis 지정

# corona.drop("Unnamed: 0", axis = 1)

corona = corona.drop("Unnamed: 0", axis = 1)

# corona.drop("Unnamed: 0", axis = 1, inplace = True)  -> corona 변수 지정 안하고도 inplace , True니까 이것만으로도 바뀜

KeyError: "['Unnamed: 0'] not found in axis"

In [13]:
# 인덱스 0을 삭제 하고싶다면? 

# corona.drop(0, axis = 0)

In [14]:
corona.head(2)

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN

In [15]:
# 컬럼 이름 변경
# 컬럼 변수를 출력 

corona.columns  # 데이터 형태 리스트네 -> 리스트 형태로 이름 변경 
                # 컬럼 수 9개이기에, 변경 리스트 길이도 똑같이 맞춰줘야

Index(['createDt', 'deathCnt', 'decideCnt', 'seq', 'stateDt', 'stateTime',
       'updateDt', 'accExamCnt', 'accDefRate'],
      dtype='object')

In [21]:
corona.columns = ['등록일시', '누적사망자', '누적확진자','게시글 번호', '기준일', '기준시간', '수정일시', '누적의심자', '누적확진률']  

# = 등호 까먹지 말고

In [20]:
corona.head(2)  # 변경 완료띠

,등록일시,누적사망자,누적확진자,게시글 번호,기준일,기준시간,수정일시,누적의심자,누적확진률
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN

In [22]:
# 컬럼 정렬 변경 
# index 또는 values 기준으로 바꿔보자 : sort_index    or     sort_values
# 보통 sort_index 에서 index는 1줄이기에 
# sort_values 는 ㅈㄴ 여러개자나 -> ('컬럼이름')들어가서 그 컬럼 기준으로 정렬 바꿀거얌

corona.sort_values('등록일시')

,등록일시,누적사망자,누적확진자,게시글 번호,기준일,기준시간,수정일시,누적의심자,누적확진률
819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...,...
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN

In [25]:
# 데이터프레임에 정렬을 변경하는 함수
# sort_values()
# 매개변수 ascending : True (<-기본값) <- 오름차순 ,  False로 바꾸면 내림차순
# 매개변수 inplace : 기준이 되는 데이터프레임을 수정할 것인가를 지정 
                    # inplace의 기본값은 False : 기준 데이터프레인 수정 안해 -> True : 수정할거얏

corona.sort_values('등록일시', ascending = True, inplace = True)  # 안나오네? corona 자체 즉 기준변수의 내용을 진짜 바꿀꺼야 ! 
                                                                # 에러가 나지않고 시행이 잘되었어? -> ㅇㅋ 수정 잘되어버렷 오름차순으로 !

In [27]:
corona.head(10)  # 오름차순 잘 되었네? 과거의 데이터부터 순서대로 !!

,등록일시,누적사망자,누적확진자,게시글 번호,기준일,기준시간,수정일시,누적의심자,누적확진률
819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
814,2020-03-15 00:00:00.000,75,8162,56,20200315,00:00,2021-10-07 10:30:51.51,268212.0,3.239660
813,2020-03-16 00:00:00.000,75,8236,57,20200316,00:00,2021-10-07 10:30:51.51,274504.0,3.173392
812,2020-03-17 00:00:00.000,81,8320,58,20200317,00:00,2021-10-07 10:30:51.51,286716.0,3.088058
811,2020-03-18 00:00:00.000,84,8413,59,20200318,00:00,2021-10-07 10:30:51.51,295647.0,3.012163
810,2020-03-19 00:00:00.000,91,8565,60,20200319,00:00,2021-10-07 10:30:51.51,307024.0,2.942086

In [30]:
corona.sort_index() # 다시 index 기준 오름차순으로 기기

,등록일시,누적사망자,누적확진자,게시글 번호,기준일,기준시간,수정일시,누적의심자,누적확진률
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [37]:
# 인덱스 초기화 

# reset_index() -> 얘도 매개변수 2가지
# 매개변수 drop : 기본값(False)  -> 기존의 인덱스의 값을 삭제할지 지정 
# 매개변수 inplace : 기준이 되는 데이터프레임을 수정할지 지정 False

#corona.reset_index()  # 인덱스는 0~819 순으로 초기화 되었는데, 기준이 되는 819~0순 인덱스가 써있네? 

#corona.reset_index().drop('index', axis = 1) -> 밑에꺼가 기억이 안나면, 이렇게 써도 돼 똑같은거야. 
corona.reset_index(drop=True, inplace = True) # 짜잔 결과 안나오고 시행은 잘되네? 기준값 corona 변경 완료

In [38]:
corona.tail(5)

,등록일시,누적사망자,누적확진자,게시글 번호,기준일,기준시간,수정일시,누적의심자,누적확진률
815,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN

In [39]:
# 파생 변수

# 누적확진자 델타값으로 신규확진자 수 뽑아내볼까용?

In [43]:
# 데이터간의 차이를 출력하는 함수 : diff(n) , shift()

# diff(n)         : n칸 위로 가서 그 값과의 차이 
# n 기본값은 1 -> 하나 전 인덱스 데이터를 선택
# if n =2 -> 두개 전 인덱스 데이터를 선택 

corona.누적확진자 
# corona['누적확진자']

0          7513
1          7755
2          7869
3          7979
4          8086
         ...
815    18153814
816    18163648
817    18168670
818    18174842
819    18188200
Name: 누적확진자, Length: 820, dtype: int64

In [45]:
corona.누적확진자.diff()  # 인덱스 0 은 전 값이 없어서 NaN

0          NaN
1        242.0
2        114.0
3        110.0
4        107.0
        ...
815    12039.0
816     9834.0
817     5022.0
818     6172.0
819    13358.0
Name: 누적확진자, Length: 820, dtype: float64

In [49]:
# 이제 이 값을 넣어줘야지

corona['일일확진자'] = corona.누적확진자.diff()

In [50]:
corona.tail(5)

,등록일시,누적사망자,누적확진자,게시글 번호,기준일,기준시간,수정일시,누적의심자,누적확진률,일일확진자
815,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,12039.0
816,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,9834.0
817,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,5022.0
818,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,6172.0
819,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN,13358.0

In [51]:
# shift()
# 이동한 값을 출력

corona2 = corona.head(5)

In [53]:
corona2['누적사망자']

0    54
1    60
2    66
3    67
4    72
Name: 누적사망자, dtype: int64

In [55]:
corona2['누적사망자'].shift(1)  #값이 한 칸씩 이동

0     NaN
1    54.0
2    60.0
3    66.0
4    67.0
Name: 누적사망자, dtype: float64

In [56]:
# 일일사망자 파생변수 생성
corona['누적사망자'] - corona['누적사망자'].shift(1)

0       NaN
1       6.0
2       6.0
3       1.0
4       5.0
       ...
815     9.0
816    20.0
817    21.0
818    20.0
819     6.0
Name: 누적사망자, Length: 820, dtype: float64

In [57]:
# 추가해줘야지? 
corona['일일사망자'] = corona['누적사망자'] - corona['누적사망자'].shift(1)

In [59]:
corona.head(5)

,등록일시,누적사망자,누적확진자,게시글 번호,기준일,기준시간,수정일시,누적의심자,누적확진률,일일확진자,일일사망자
0,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,NaN,NaN
1,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,242.0,6.0
2,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,114.0,6.0
3,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,110.0,1.0
4,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,107.0,5.0

In [60]:
# diff() != shift()
# shift() 우리 막 금융데이터 1년전꺼랑 비교 하고 싶자너
# 1년전 데이터 shift는 1년 이동시켜 파생변수로 만들고
# 현재 데이터와 차이값 구한다던가 이런 식